In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data2015 = pd.read_csv('2015.csv')
data2015.drop(['Happiness Rank', 'Standard Error'], axis=1, inplace=True)
data2015['Year'] = 2015
data2015.head()

       Country          Region  ...  Dystopia Residual  Year
0  Switzerland  Western Europe  ...            2.51738  2015
1      Iceland  Western Europe  ...            2.70201  2015
2      Denmark  Western Europe  ...            2.49204  2015
3       Norway  Western Europe  ...            2.46531  2015
4       Canada   North America  ...            2.45176  2015

[5 rows x 11 columns]

In [ ]:
data2016 = pd.read_csv('2016.csv')
data2016.drop(['Happiness Rank', 'Lower Confidence Interval', 'Upper Confidence Interval'], axis=1, inplace=True)
data2016['Year'] = 2016
data2016.head()

       Country          Region  ...  Dystopia Residual  Year
0      Denmark  Western Europe  ...            2.73939  2016
1  Switzerland  Western Europe  ...            2.69463  2016
2      Iceland  Western Europe  ...            2.83137  2016
3       Norway  Western Europe  ...            2.66465  2016
4      Finland  Western Europe  ...            2.82596  2016

[5 rows x 11 columns]

In [ ]:
data2017 = pd.read_csv('2017.csv')
data2017.drop(['Happiness.Rank', 'Whisker.high', 'Whisker.low'], axis=1, inplace=True)
data2017.rename(columns={'Happiness.Score': 'Happiness Score', 'Economy..GDP.per.Capita.': 'Economy (GDP per Capita)', 
                         'Health..Life.Expectancy.': 'Health (Life Expectancy)', 'Trust..Government.Corruption.':'Trust (Government Corruption)', 'Dystopia.Residual': 'Dystopia Residual'}, inplace=True)
data2017['Year'] = 2017
data2017.head()

       Country  Happiness Score  ...  Dystopia Residual  Year
0       Norway            7.537  ...           2.277027  2017
1      Denmark            7.522  ...           2.313707  2017
2      Iceland            7.504  ...           2.322715  2017
3  Switzerland            7.494  ...           2.276716  2017
4      Finland            7.469  ...           2.430182  2017

[5 rows x 10 columns]

In [ ]:
data2018 = pd.read_csv('2018.csv')
data2018.drop(['Overall rank'], axis=1, inplace=True)
data2018['Year'] = 2018
data2018.head()

  Country or region  Score  ...  Perceptions of corruption  Year
0           Finland  7.632  ...                      0.393  2018
1            Norway  7.594  ...                      0.340  2018
2           Denmark  7.555  ...                      0.408  2018
3           Iceland  7.495  ...                      0.138  2018
4       Switzerland  7.487  ...                      0.357  2018

[5 rows x 9 columns]

In [ ]:
data2019 = pd.read_csv('2019.csv')
data2019.drop(['Overall rank'], axis=1, inplace=True)
data2019['Year'] = 2019
data2019.head()

  Country or region  Score  ...  Perceptions of corruption  Year
0           Finland  7.769  ...                      0.393  2019
1           Denmark  7.600  ...                      0.410  2019
2            Norway  7.554  ...                      0.341  2019
3           Iceland  7.494  ...                      0.118  2019
4       Netherlands  7.488  ...                      0.298  2019

[5 rows x 9 columns]

In [ ]:
from collections import Counter
def compareSeries(a,b):
  C = a.tolist()
  D = b.tolist()
  return list((Counter(C) - Counter(D)).elements())

In [ ]:
data2015.replace({'Country':'Somaliland region'}, 'Somaliland Region',inplace=True)

data2017.replace({'Country':'Taiwan Province of China'}, 'Taiwan',inplace=True)
data2017.replace({'Country':'Hong Kong S.A.R., China'}, 'Hong Kong',inplace=True)

data2018.replace({'Country or region':'Trinidad & Tobago'}, 'Trinidad and Tobago',inplace=True)

data2019.replace({'Country or region':'Trinidad & Tobago'}, 'Trinidad and Tobago',inplace=True)
data2019.replace({'Country or region':'Northern Cyprus'}, 'North Cyprus',inplace=True)

In [ ]:
allDatasets = [data2015['Country'], data2016['Country'], data2017['Country'], data2018['Country or region'], data2019['Country or region']]
for idx1,dataset in enumerate(allDatasets):
  for idx2,dataset2 in enumerate(allDatasets):
    print(idx1,idx2,compareSeries(dataset,dataset2))
    print(idx2,idx1,compareSeries(dataset2, dataset))
    print("------------------------------------")
    # if dataset.equals(dataset2) and dataset2.equals(dataset):
    #   print("No Problems")
    # else:
    #   print(idx1, idx2)

0 0 []
0 0 []
------------------------------------
0 1 ['Oman', 'Mozambique', 'Lesotho', 'Swaziland', 'Djibouti', 'Central African Republic']
1 0 ['Puerto Rico', 'Belize', 'Somalia', 'Namibia', 'South Sudan']
------------------------------------
0 2 ['Oman', 'Suriname', 'Somaliland Region', 'Laos', 'Swaziland', 'Djibouti', 'Comoros']
2 0 ['Belize', 'Somalia', 'Namibia', 'South Sudan']
------------------------------------
0 3 ['Oman', 'Suriname', 'North Cyprus', 'Somaliland Region', 'Swaziland', 'Djibouti', 'Comoros']
3 0 ['Belize', 'Northern Cyprus', 'Somalia', 'Namibia', 'South Sudan']
------------------------------------
0 4 ['Oman', 'Suriname', 'Somaliland Region', 'Macedonia', 'Sudan', 'Djibouti', 'Angola']
4 0 ['North Macedonia', 'Somalia', 'Namibia', 'Gambia', 'South Sudan']
------------------------------------
1 0 ['Puerto Rico', 'Belize', 'Somalia', 'Namibia', 'South Sudan']
0 1 ['Oman', 'Mozambique', 'Lesotho', 'Swaziland', 'Djibouti', 'Central African Republic']
------------------------------------
1 1 []
1 1 []
------------------------------------
1 2 ['Puerto Rico', 'Suriname', 'Somaliland Region', 'Laos', 'Comoros']
2 1 ['Mozambique', 'Lesotho', 'Central African Republic']
------------------------------------
1 3 ['Puerto Rico', 'Suriname', 'North Cyprus', 'Somaliland Region', 'Comoros']
3 1 ['Northern Cyprus', 'Mozambique', 'Lesotho', 'Central African Republic']
------------------------------------
1 4 ['Puerto Rico', 'Suriname', 'Belize', 'Macedonia', 'Somaliland Region', 'Sudan', 'Angola']
4 1 ['North Macedonia', 'Gambia', 'Mozambique', 'Swaziland', 'Lesotho', 'Central African Republic']
------------------------------------
2 0 ['Belize', 'Somalia', 'Namibia', 'South Sudan']
0 2 ['Oman', 'Suriname', 'Somaliland Region', 'Laos', 'Swaziland', 'Djibouti', 'Comoros']
------------------------------------
2 1 ['Mozambique', 'Lesotho', 'Central African Republic']
1 2 ['Puerto Rico', 'Suriname', 'Somaliland Region', 'Laos', 'Comoros']
------------------------------------
2 2 []
2 2 []
------------------------------------
2 3 ['North Cyprus']
3 2 ['Northern Cyprus', 'Laos']
------------------------------------
2 4 ['Belize', 'Macedonia', 'Sudan', 'Angola']
4 2 ['North Macedonia', 'Laos', 'Gambia', 'Swaziland', 'Comoros']
------------------------------------
3 0 ['Belize', 'Northern Cyprus', 'Somalia', 'Namibia', 'South Sudan']
0 3 ['Oman', 'Suriname', 'North Cyprus', 'Somaliland Region', 'Swaziland', 'Djibouti', 'Comoros']
------------------------------------
3 1 ['Northern Cyprus', 'Mozambique', 'Lesotho', 'Central African Republic']
1 3 ['Puerto Rico', 'Suriname', 'North Cyprus', 'Somaliland Region', 'Comoros']
------------------------------------
3 2 ['Northern Cyprus', 'Laos']
2 3 ['North Cyprus']
------------------------------------
3 3 []
3 3 []
------------------------------------
3 4 ['Belize', 'Northern Cyprus', 'Macedonia', 'Sudan', 'Angola']
4 3 ['North Cyprus', 'North Macedonia', 'Gambia', 'Swaziland', 'Comoros']
------------------------------------
4 0 ['North Macedonia', 'Somalia', 'Namibia', 'Gambia', 'South Sudan']
0 4 ['Oman', 'Suriname', 'Somaliland Region', 'Macedonia', 'Sudan', 'Djibouti', 'Angola']
------------------------------------
4 1 ['North Macedonia', 'Gambia', 'Mozambique', 'Swaziland', 'Lesotho', 'Central African Republic']
1 4 ['Puerto Rico', 'Suriname', 'Belize', 'Macedonia', 'Somaliland Region', 'Sudan', 'Angola']
------------------------------------
4 2 ['North Macedonia', 'Laos', 'Gambia', 'Swaziland', 'Comoros']
2 4 ['Belize', 'Macedonia', 'Sudan', 'Angola']
------------------------------------
4 3 ['North Cyprus', 'North Macedonia', 'Gambia', 'Swaziland', 'Comoros']
3 4 ['Belize', 'Northern Cyprus', 'Macedonia', 'Sudan', 'Angola']
------------------------------------
4 4 []
4 4 []
------------------------------------

In [ ]:
allYearsOld = pd.concat([data2015,data2016, data2017])
allYearsOld.sort_values(['Country','Year'], inplace=True, ignore_index=True)
allYearsOld.head()

       Country                      Region  ...  Dystopia Residual  Year
0  Afghanistan               Southern Asia  ...           1.952100  2015
1  Afghanistan               Southern Asia  ...           2.145580  2016
2  Afghanistan                         NaN  ...           2.150801  2017
3      Albania  Central and Eastern Europe  ...           1.898940  2015
4      Albania  Central and Eastern Europe  ...           1.928160  2016

[5 rows x 11 columns]

In [ ]:
allYearsNew = pd.concat([data2018, data2019])
allYearsNew.sort_values(['Country or region', 'Year'], inplace=True, ignore_index=True)
allYearsNew.head()

  Country or region  Score  ...  Perceptions of corruption  Year
0       Afghanistan  3.632  ...                      0.036  2018
1       Afghanistan  3.203  ...                      0.025  2019
2           Albania  4.586  ...                      0.032  2018
3           Albania  4.719  ...                      0.027  2019
4           Algeria  5.295  ...                      0.135  2018

[5 rows x 9 columns]

In [ ]:
allYearsOldAdjusted = allYearsOld.drop(['Region', 'Family', 'Dystopia Residual'], axis=1)
allYearsNewAdjusted = allYearsNew.rename(columns={'Country or region': 'Country', 'Score': 'Happiness Score', 'GDP per capita':'Economy (GDP per Capita)', 'Healthy life expectancy':'Health (Life Expectancy)', 'Freedom to make life choices':'Freedom', 'Perceptions of corruption':'Trust (Government Corruption)'})
allYearsNewAdjusted.drop(['Social support'], axis=1, inplace=True)

In [ ]:
allYearsCombined = pd.concat((allYearsOldAdjusted, allYearsNewAdjusted), axis=1)
allYearsCombined.head()

       Country  Happiness Score  ...  Trust (Government Corruption)    Year
0  Afghanistan            3.575  ...                          0.036  2018.0
1  Afghanistan            3.360  ...                          0.025  2019.0
2  Afghanistan            3.794  ...                          0.032  2018.0
3      Albania            4.959  ...                          0.027  2019.0
4      Albania            4.655  ...                          0.135  2018.0

[5 rows x 16 columns]